@keyframes skillsAnimation {
  0% {
    width: 100px;
    height: 100px; }
  100% {
    width: 130px;
    height: 130px; } }
html {
  font-size: 62.5%;
  margin: 0 auto; }

body {
  margin: 0 auto;
  background-color: #ecf0f1;
  font-family: 'Lato', sans-serif;
  margin: 0 auto; }
  body .hamburger {
    cursor: pointer;
    width: 25px;
    padding: 5px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      body .hamburger {
        display: none; } }
    body .hamburger .line {
      -webkit-transition: 0.7s ease-in-out;
      -moz-transition: 0.7s ease-in-out;
      transition: 0.7s ease-in-out;
      margin: 6px 0;
      width: 25px;
      height: 2px;
      background-color: #e74c3c; }
    body .hamburger .top-line,
    body .hamburger .top-line-arrow {
      background-color: #1abc9c; }
    body .hamburger .middle-line,
    body .hamburger .middle-line-arrow {
      background-color: #e74c3c; }
    body .hamburger .bottom-line,
    body .hamburger .bottom-line-arrow {
      background-color: #bdc3c7; }
    body .hamburger .middle-line-close {
      width: 0; }
    body .hamburger .top-line-close {
      transform: translateY(11px) rotateZ(405deg);
      -ms-transform: translateY(11px) rotateZ(405deg);
      -webkit-transform: translateY(11px) rotateZ(405deg);
      -o-transform: translateY(11px) rotateZ(405deg);
      -moz-transform: translateY(11px) rotateZ(405deg); }
    body .hamburger .bottom-line-close {
      transform: translateY(-11px) rotateZ(-405deg);
      -ms-transform: translateY(-11px) rotateZ(-405deg);
      -webkit-transform: translateY(-11px) rotateZ(-405deg);
      -o-transform: translateY(-11px) rotateZ(-405deg);
      -moz-transform: translateY(-11px) rotateZ(405deg);
      background-color: #1abc9c; }
  body.noScroll {
    overflow: hidden; }
  body .container {
    margin: 50px 15% 0 15%; }
  body h2 {
    text-align: center;
    font-size: 4rem; }
  body header .header-img {
    width: 100%;
    height: 400px;
    background-color: #34495e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-height: 560px) {
      body header .header-img {
        height: 500px; } }
    @media (min-height: 660px) {
      body header .header-img {
        height: 600px; } }
    body header .header-img .title h1, body header .header-img .title p {
      margin: 20px;
      text-align: center;
      color: #ecf0f1; }
    body header .header-img .title h1 {
      font-size: 5rem;
      font-weight: 100;
      margin: 0; }
    body header .header-img .title p {
      font-size: 3rem;
      font-weight: 300; }
    body header .header-img img {
      width: 150px;
      left: calc(50% - 75px); }
    body header .header-img > img {
      position: absolute;
      z-index: 99999;
      bottom: -100px; }
  body header nav {
    z-index: 999999; }
    body header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      body header nav ul li {
        font-size: 1.6rem;
        text-align: center;
        padding: 10px 0; }
        @media (max-width: 767px) {
          body header nav ul li:last-child {
            border-bottom: none; } }
        @media (min-width: 768px) {
          body header nav ul li {
            border-bottom: 2px solid transparent; } }
        body header nav ul li a {
          padding: 10px 0; }
  body header .avatar-nav {
    position: fixed;
    top: -260px;
    left: 0;
    width: 100%;
    display: none; }
    @media (min-width: 768px) {
      body header .avatar-nav {
        top: 0; } }
    body header .avatar-nav.move {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
    body header .avatar-nav ul {
      background-color: #1abc9c;
      width: 100%;
      z-index: 99999;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      body header .avatar-nav ul li img {
        display: none; }
      @media (max-width: 767px) {
        body header .avatar-nav ul li {
          height: 100px;
          box-shadow: 0 0 7px 0 #000000;
          margin: 5px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center; }
          body header .avatar-nav ul li:hover {
            box-shadow: inset 0 0 7px 0 #000000; }
          body header .avatar-nav ul li img {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 10px; } }
      @media (max-width: 767px) {
        body header .avatar-nav ul.left-nav li:first-child {
          background-color: #34495e; } }
      @media (max-width: 767px) {
        body header .avatar-nav ul.right-nav li:first-child {
          background-color: #bdc3c7; }
          body header .avatar-nav ul.right-nav li:first-child a {
            color: #34495e; }
        body header .avatar-nav ul.right-nav li:last-child {
          background-color: #e74c3c; } }
      @media (min-width: 768px) {
        body header .avatar-nav ul {
          flex-wrap: nowrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: #34495e; } }
  @media (min-width: 768px) and (min-width: 768px) {
    body header .avatar-nav ul li {
      display: inline-block;
      border: none;
      margin: 0 10px;
      padding: 0;
      border-bottom: 2px solid transparent; } }
      @media (min-width: 768px) {
          body header .avatar-nav ul li:hover {
            border-bottom-color: #1abc9c; }
          body header .avatar-nav ul li a {
            display: block; } }
    @media (min-width: 768px) and (min-width: 768px) {
      body header .avatar-nav ul li a {
        padding: 10px 5px; } }

      body header .avatar-nav ul li a {
        color: #ffffff;
        text-decoration: none; }
      body header .avatar-nav ul .nav-separator {
        display: none; }
        @media (min-width: 768px) {
          body header .avatar-nav ul .nav-separator {
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: #1abc9c;
            border: none;
            opacity: .5; } }
    body header .avatar-nav .avatar-wrapper {
      position: absolute;
      bottom: -100px;
      left: calc(50% - 75px);
      width: 150px; }
      @media (min-width: 768px) {
        body header .avatar-nav .avatar-wrapper {
          z-index: 999999;
          bottom: -60px; } }
      body header .avatar-nav .avatar-wrapper .hamburger {
        position: absolute;
        bottom: 35px;
        left: calc(50% - 18px); }
  body header .top-nav {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%; }
    body header .top-nav ul {
      display: none; }
      @media (min-width: 768px) {
        body header .top-nav ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center; } }
      body header .top-nav ul.nav-open {
        display: block;
        margin: 0 auto; }
      body header .top-nav ul li {
        box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.6);
        color: #34495e;
        border-bottom-color: #34495e; }
        @media (min-width: 768px) {
          body header .top-nav ul li {
            display: inline-block;
            border: none;
            margin: 0 10px;
            padding: 0;
            border-bottom: 2px solid transparent; }
            body header .top-nav ul li:hover {
              border-bottom-color: #e74c3c; } }
        body header .top-nav ul li a {
          display: block;
          color: #34495e;
          text-decoration: none; }
          @media (min-width: 768px) {
            body header .top-nav ul li a {
              padding: 10px 5px; } }
      body header .top-nav ul .nav-separator {
        display: none; }
        @media (min-width: 768px) {
          body header .top-nav ul .nav-separator {
            display: block;
            width: 5px;
            height: 5px;
            background-color: #1abc9c;
            border: none;
            opacity: .5; } }
  body article .about {
    text-align: center;
    margin-top: 150px; }
    body article .about h2 {
      margin: 20px 0; }
      @media (min-width: 1024px) {
        body article .about h2 {
          font-size: 5rem;
          margin-bottom: 0; } }
    body article .about p {
      font-size: 1.4rem;
      line-height: 2rem; }
      @media (min-width: 1024px) {
        body article .about p {
          padding: 100px;
          margin: 0 150px; } }
  body article .skills {
    margin-top: 150px;
    background-color: #5E84AA;
    padding: 40px 0; }
    @media (min-width: 768px) {
      body article .skills {
        height: 600px; } }
    body article .skills h2 {
      margin: 0;
      margin-bottom: 20px;
      color: #ffffff;
      font-weight: 200; }
    body article .skills .dots {
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0 auto; }
      @media (min-width: 768px) {
        body article .skills .dots {
          width: 400px;
          height: 400px; } }
      body article .skills .dots .icon {
        width: 100px;
        height: 100px;
        z-index: 999;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out;
        /*&.animated {
            animation: skillsAnimation .7s ease-out infinite alternate;
        }*/ }
        body article .skills .dots .icon path {
          -webkit-transition: 0.7s ease-in-out;
          -moz-transition: 0.7s ease-in-out;
          transition: 0.7s ease-in-out; }
      body article .skills .dots .big-dot,
      body article .skills .dots .small-dot {
        border-radius: 100%;
        background-color: #1abc9c;
        position: absolute;
        width: 0px;
        height: 0px;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer; }
        body article .skills .dots .big-dot img,
        body article .skills .dots .small-dot img {
          width: 0;
          -webkit-transition: 0.7s ease-in-out;
          -moz-transition: 0.7s ease-in-out;
          transition: 0.7s ease-in-out; }
        body article .skills .dots .big-dot:hover,
        body article .skills .dots .small-dot:hover {
          -webkit-transition: 0s ease-in-out;
          -moz-transition: 0s ease-in-out;
          transition: 0s ease-in-out;
          box-shadow: 0 0 5px 2px #ffffff; }
      body article .skills .dots .top-left-dot,
      body article .skills .dots .left-dot,
      body article .skills .dots .top-dot {
        left: 50%;
        top: 50%; }
      body article .skills .dots .bottom-left-dot,
      body article .skills .dots .bottom-dot {
        left: 50%;
        bottom: 50%; }
      body article .skills .dots .bottom-right-dot {
        right: 50%;
        bottom: 50%; }
      body article .skills .dots .top-right-dot,
      body article .skills .dots .right-dot {
        right: 50%;
        top: 50%; }
      body article .skills .dots:hover .big-dot {
        width: 70px;
        height: 70px; }
        body article .skills .dots:hover .big-dot img {
          width: 70px; }
          @media (min-width: 768px) {
            body article .skills .dots:hover .big-dot img {
              width: 110px; } }
        @media (min-width: 768px) {
          body article .skills .dots:hover .big-dot {
            width: 110px;
            height: 110px; } }
      body article .skills .dots:hover .small-dot {
        width: 35px;
        height: 35px; }
        body article .skills .dots:hover .small-dot img {
          width: 35px; }
          @media (min-width: 768px) {
            body article .skills .dots:hover .small-dot img {
              width: 55px; } }
        @media (min-width: 768px) {
          body article .skills .dots:hover .small-dot {
            width: 55px;
            height: 55px; } }
      body article .skills .dots:hover .icon {
        width: 30px;
        height: 30px; }
      body article .skills .dots:hover .icon .head {
        fill: #bdc3c7; }
      body article .skills .dots:hover .top-left-dot {
        left: 15px;
        top: 15px; }
      body article .skills .dots:hover .left-dot {
        left: 0;
        top: -webkit-calc(50% - 35px);
        top: -moz-calc(50% - 35px);
        top: calc(50% - 35px); }
        @media (min-width: 768px) {
          body article .skills .dots:hover .left-dot {
            top: -webkit-calc(50% - 55px);
            top: -moz-calc(50% - 55px);
            top: calc(50% - 55px); } }
      body article .skills .dots:hover .bottom-left-dot {
        left: 15px;
        bottom: 15px; }
      body article .skills .dots:hover .bottom-dot {
        left: -webkit-calc(50% - 35px);
        left: -moz-calc(50% - 35px);
        left: calc(50% - 35px);
        bottom: 0; }
        @media (min-width: 768px) {
          body article .skills .dots:hover .bottom-dot {
            left: -webkit-calc(50% - 55px);
            left: -moz-calc(50% - 55px);
            left: calc(50% - 55px); } }
      body article .skills .dots:hover .bottom-right-dot {
        right: 15px;
        bottom: 15px; }
      body article .skills .dots:hover .right-dot {
        right: 0;
        top: -webkit-calc(50% - 35px);
        top: -moz-calc(50% - 35px);
        top: calc(50% - 35px); }
        @media (min-width: 768px) {
          body article .skills .dots:hover .right-dot {
            top: -webkit-calc(50% - 55px);
            top: -moz-calc(50% - 55px);
            top: calc(50% - 55px); } }
      body article .skills .dots:hover .top-right-dot {
        right: 15px;
        top: 15px; }
      body article .skills .dots:hover .top-dot {
        top: 0;
        left: -webkit-calc(50% - 35px);
        left: -moz-calc(50% - 35px);
        left: calc(50% - 35px); }
        @media (min-width: 768px) {
          body article .skills .dots:hover .top-dot {
            left: -webkit-calc(50% - 55px);
            left: -moz-calc(50% - 55px);
            left: calc(50% - 55px); } }
  body article .portfolio .projects-wrapper {
    margin: 0 auto; }
    @media (min-width: 1024px) {
      body article .portfolio .projects-wrapper {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: auto;
        white-space: nowrap; } }
    body article .portfolio .projects-wrapper .projects {
      list-style-type: none;
      padding: 0;
      margin: 0 auto; }
      @media (min-width: 1024px) {
        body article .portfolio .projects-wrapper .projects {
          width: 1260px;
          position: relative;
          display: block;
          white-space: nowrap; } }
      body article .portfolio .projects-wrapper .projects .single-project {
        width: 95%;
        height: 200px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 1px #bdc3c7;
        margin: 5px auto;
        position: relative; }
        @media (min-width: 425px) {
          body article .portfolio .projects-wrapper .projects .single-project {
            height: 250px;
            width: 400px; } }
        @media (min-width: 1024px) {
          body article .portfolio .projects-wrapper .projects .single-project {
            float: left;
            margin: 0 10px; } }
        body article .portfolio .projects-wrapper .projects .single-project > img {
          max-width: 95%;
          max-height: 80%; }
        body article .portfolio .projects-wrapper .projects .single-project:hover .show {
          visibility: visible;
          opacity: 1; }
        body article .portfolio .projects-wrapper .projects .single-project .show {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(26, 188, 156, 0.8);
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
          body article .portfolio .projects-wrapper .projects .single-project .show svg {
            fill: #ffffff;
            margin: 0 30px;
            width: 30px;
            height: 30px;
            cursor: pointer; }
            body article .portfolio .projects-wrapper .projects .single-project .show svg:hover {
              fill: #34495e;
              width: 50px;
              height: 50px;
              margin: 0 20px; }
  body article .portfolio .project-info {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    @media (min-width: 1024px) {
      body article .portfolio .project-info {
        background-color: #000000;
        width: 80%;
        height: 80%;
        top: 8%;
        left: 8%;
        flex-direction: row;
        justify-content: center;
        padding: 20px; } }
    body article .portfolio .project-info .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px;
      cursor: pointer; }
      body article .portfolio .project-info .close-btn:hover .bar {
        background-color: #ffffff; }
      body article .portfolio .project-info .close-btn .bar {
        width: 20px;
        height: 5px;
        background-color: #f0f0f0; }
      body article .portfolio .project-info .close-btn .first-bar {
        transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(5px) rotate(45deg);
        -webkit-transform: translateY(5px) rotate(45deg);
        -o-transform: translateY(5px) rotate(45deg);
        -moz-transform: translateY(5px) rotate(45deg); }
      body article .portfolio .project-info .close-btn .second-bar {
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg); }
    body article .portfolio .project-info .project-slider {
      margin-top: 70px;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      @media (max-height: 360px) {
        body article .portfolio .project-info .project-slider {
          margin-top: 20px; } }
      @media (min-width: 1024px) {
        body article .portfolio .project-info .project-slider {
          margin-top: 0;
          height: 100%;
          width: 50%; } }
      body article .portfolio .project-info .project-slider img {
        width: 100%;
        height: 170px; }
        @media (max-height: 360px) {
          body article .portfolio .project-info .project-slider img {
            height: 150px;
            width: 300px; } }
        @media (min-width: 425px) and (min-height: 361px) {
          body article .portfolio .project-info .project-slider img {
            height: 250px;
            width: 400px; } }
        @media (min-width: 1024px) {
          body article .portfolio .project-info .project-slider img {
            width: 100%; } }
    body article .portfolio .project-info .description {
      color: #ffffff;
      text-align: center; }
      @media (min-width: 1024px) {
        body article .portfolio .project-info .description {
          text-align: left;
          margin: 20px 10px 0 20px; } }
      body article .portfolio .project-info .description h4 {
        font-size: 3rem;
        font-weight: 200;
        margin: 20px 0 0 0; }
        @media (max-height: 360px) {
          body article .portfolio .project-info .description h4 {
            margin-top: 10px; } }
        @media (min-width: 1024px) {
          body article .portfolio .project-info .description h4 {
            margin-top: 0; } }
      body article .portfolio .project-info .description p {
        font-size: 1.4rem;
        margin: 20px 30px;
        white-space: pre-wrap; }
        @media (min-width: 425px) {
          body article .portfolio .project-info .description p {
            margin: 20px 20% 0 0; } }
  body article .hobby {
    margin-top: 50px;
    background: url(../img/hobby.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%; }
    @media (min-width: 425px) {
      body article .hobby {
        background-position: 100%; } }
    @media (min-width: 1024px) {
      body article .hobby {
        height: 350px; } }
    body article .hobby .color-cover {
      width: 100%;
      height: 100%;
      background-color: rgba(130, 182, 234, 0.5);
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center; }
      body article .hobby .color-cover h2 {
        color: #ffffff;
        font-size: 3rem;
        margin: 10px 20px !important; }
      body article .hobby .color-cover a {
        text-decoration: none;
        color: #ffffff;
        padding: 7px 12px;
        border-radius: 15px;
        background-color: #1abc9c;
        margin-top: 10px;
        border: 1px solid #1abc9c;
        font-size: 1.3rem; }
        body article .hobby .color-cover a:hover {
          color: #1abc9c;
          background-color: transparent; }
  body article .contact svg {
    width: 32px;
    height: 100%;
    padding: 5px 10px;
    fill: #ffffff;
    background-color: #34495e; }
  body article .contact input {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important; }
  body article .contact input,
  body article .contact textarea {
    border: 0;
    padding: 5px;
    margin: 0 auto;
    border-radius: 0;
    border: none; }
    body article .contact input:focus,
    body article .contact textarea:focus {
      outline-color: #e74c3c; }
  body article .contact .contact-form {
    margin: 20px 0; }
  body article .contact .input {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 32px; }
  body article .contact textarea {
    resize: none;
    height: 150px;
    width: 100%;
    border-top-right-radius: 2px !important;
    border-top-left-radius: 2px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body article .contact .message {
    margin-bottom: 0; }
  body article .contact button {
    width: 100%;
    height: 32px;
    background: none;
    border-radius: 0;
    border: none;
    background-color: #34495e;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 5px 0; }
    body article .contact button svg {
      height: 100%;
      height: 100%;
      padding: 0px; }
  body .skill-info {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0; }
    body .skill-info.show {
      visibility: visible;
      opacity: 1; }
    body .skill-info .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px;
      cursor: pointer; }
      body .skill-info .close-btn:hover .bar {
        background-color: #ffffff; }
      body .skill-info .close-btn .bar {
        width: 20px;
        height: 5px;
        background-color: #f0f0f0; }
      body .skill-info .close-btn .first-bar {
        transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(5px) rotate(45deg);
        -webkit-transform: translateY(5px) rotate(45deg);
        -o-transform: translateY(5px) rotate(45deg);
        -moz-transform: translateY(5px) rotate(45deg); }
      body .skill-info .close-btn .second-bar {
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg); }
    body .skill-info .img-container {
      height: 35%;
      margin: 100px auto 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center; }
      body .skill-info .img-container img {
        height: 100%;
        margin: 0 auto; }
    body .skill-info h4,
    body .skill-info p {
      color: #ffffff;
      text-align: center; }
    body .skill-info h4 {
      font-size: 3rem;
      font-weight: 200;
      margin: 20px 0 0 0; }
    body .skill-info p {
      font-size: 1.4rem;
      margin: 20px 30px; }
    body .skill-info .stars {
      margin: 5px auto 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center; }
      body .skill-info .stars img {
        margin: 3px;
        width: 50px;
        height: 50px; }
  body footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #5E84AA;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    color: #ffffff; }
    body footer .social {
      list-style-type: none;
      padding: 0; }
      body footer .social .facebook-icon:hover svg {
        fill: #4c66a4;
        background-color: #ffffff;
        border-radius: 1.5px; }
      body footer .social .github-icon:hover svg {
        fill: #6a006c;
        background-color: #ffffff;
        border-radius: 100%; }
      body footer .social .linkedin-icon:hover svg {
        fill: #0077b5;
        background-color: #ffffff;
        border-radius: 2.5px; }
      body footer .social li {
        display: inline;
        margin-left: 5px;
        cursor: pointer; }
        body footer .social li svg {
          fill: #ffffff;
          width: 24px;
          height: 24px; }
    body footer p {
      font-size: 1.1rem; }

/*# sourceMappingURL=main.css.map */
