$turquoiseColor: #1abc9c;
$orangeColor: #e74c3c;
$greyColor: #bdc3c7;
$darkBlueColor: #34495e;
$lightBlueColor: #5E84AA;
$whiteColor: #ffffff;
$blackColor: #000000;
$bigDotSize: 70px;
$smallDotSize: 35px;

@mixin transition($time, $type) {
    -webkit-transition: $time $type;
    -moz-transition: $time $type;
    transition: $time $type;
}
@mixin flexbox($direction, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin boxSizingBorderBox() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@keyframes skillsAnimation {
    0% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 130px;
        height: 130px;
    }
}

html {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    .hamburger {
        cursor: pointer;
        width: 25px;
        padding: 5px;
        margin: 0 auto;
        .line {
            @include transition(.7s, ease-in-out);
            margin: 6px 0;
            width: 25px;
            height: 2px;
            background-color: $orangeColor;
        }
        .top-line, 
        .top-line-arrow {
            background-color: $turquoiseColor;
        }
        .middle-line, 
        .middle-line-arrow {
            background-color: $orangeColor;
        }
        .bottom-line, 
        .bottom-line-arrow {
            background-color: $greyColor;
        }
        .middle-line-close {
            width: 0;
        }
        .top-line-close {
            transform: translateY(11px) rotateZ(405deg);
            -ms-transform: translateY(11px) rotateZ(405deg);
            -webkit-transform: translateY(11px) rotateZ(405deg);
            -o-transform: translateY(11px) rotateZ(405deg);
            -moz-transform: translateY(11px) rotateZ(405deg);
        }
        .bottom-line-close {
            transform: translateY(-11px) rotateZ(-405deg);
            -ms-transform: translateY(-11px) rotateZ(-405deg);
            -webkit-transform: translateY(-11px) rotateZ(-405deg);
            -o-transform: translateY(-11px) rotateZ(-405deg);
            -moz-transform: translateY(-11px) rotateZ(405deg);
            background-color: $turquoiseColor;
        }
    }
    background-color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    &.noScroll {
        overflow: hidden;
    }
    .container {
        margin: 50px 15% 0 15%;
    }
    h2 {
        text-align: center;
        font-size: 4rem;
    }
    header {
        .header-img {
            width: 100%;
            height: 400px;
            background-color: $darkBlueColor;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .title {
                h1, p {
                    margin: 20px;
                    text-align: center;
                    color: #ecf0f1;
                }
                h1 {
                    font-size: 5rem;
                    font-weight: 100;
                    margin: 0;
                }
                p {
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
            img {
                width: 150px;
                left: calc(50% - 75px);
            }
            &>img {
                position: absolute;
                z-index: 99999;
                bottom: -100px;
            }
        }
        nav {
            z-index: 999999;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    font-size: 1.6rem;
                    text-align: center;
                    padding: 10px 0;
                    border-bottom: 1px solid;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .avatar-nav {
            position: fixed;
            top: -160px;
            left: 0;
            width: 100%;
            display: none;
            
            &.move {
                @include flexbox(column, nowrap);
                align-items: center;
            }
            ul {
                background-color: $turquoiseColor;
                width: 100%;
                z-index: 99999;
                li {
                    color: $whiteColor;
                    border-bottom-color: $whiteColor;
                }
            }
            .avatar-wrapper {
                position: absolute;
                bottom: -100px;
                left: calc(50% - 75px);
                //top: -30px;
                width: 150px;
                .hamburger {
                    position: absolute;
                    bottom: 35px;
                    left: calc(50% - 18px);
                }
            }
        }
        .top-nav {
            background-color: $whiteColor;
            position: absolute;
            top: 0;
            z-index: 99999;
            width: 100%;
            ul {
                display: none;
                &.nav-open {
                    display: block;
                }
                li {
                    color: $darkBlueColor;
                    border-bottom-color: $darkBlueColor;
                }
            }
            
        }
    }
    article {
        .about {
            text-align: center;
            margin-top: 150px;
            @media(min-width: 1024px) {
                
            }
            h2 {
                margin: 20px 0;
                //font-weight: 100;
                @media(min-width: 1024px) {
                    font-size: 5rem;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 1.4rem;
                line-height: 2rem;
                @media(min-width: 1024px) {
                    padding: 100px;
                    margin: 0 150px;
                }
            }
        }
        .skills {
            margin-top: 150px;
            background-color: $lightBlueColor;
            padding: 40px 0;
            @media(min-width: 768px) {
                height: 600px;
            }
            h2 {
                margin: 0;
                margin-bottom: 20px;
                color: $whiteColor;
                font-weight: 200;
            }
            .dots {
                width: 250px;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 0 auto;
                @media(min-width: 768px) {
                    width: 400px;
                    height: 400px;
                }
                .icon {
                    width: 100px;
                    height: 100px;
                    z-index: 999;
                    @include transition(.7s, ease-in-out);
                    /*&.animated {
                        animation: skillsAnimation .7s ease-out infinite alternate;
                    }*/
                    path {
                        @include transition(.7s, ease-in-out);
                    }
                }
                .big-dot,
                .small-dot {
                    border-radius: 100%;
                    background-color: $turquoiseColor;
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    @include transition(.7s, ease-in-out);
                    @include flexbox(row, nowrap);
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        width: 0;
                        @include transition(.7s, ease-in-out);
                        //height: 0;
                    }
                    &:hover {
                        @include transition(0s, ease-in-out);
                        box-shadow: 0 0 5px 2px $whiteColor;
                    }
                }
                .top-left-dot,
                .left-dot,
                .top-dot {
                    left: 50%;
                    top: 50%;
                }
                .bottom-left-dot,
                .bottom-dot {
                    left: 50%;
                    bottom: 50%;
                }
                .bottom-right-dot {
                    right: 50%;
                    bottom: 50%;
                }
                .top-right-dot,
                .right-dot {
                    right: 50%;
                    top: 50%;
                }
                &:hover .big-dot {
                    width: $bigDotSize;
                    height: $bigDotSize;
                    img {
                        width: $bigDotSize;
                            @media(min-width: 768px) {
                            width: 110px;
                        }
                    }
                    @media(min-width: 768px) {
                        width: 110px;
                        height: 110px;
                    }
                }
                &:hover .small-dot {
                    width: $smallDotSize;
                    height: $smallDotSize;
                    img {
                        width: $smallDotSize;
                        @media(min-width: 768px) {
                            width: 55px;
                        }
                    }
                    @media(min-width: 768px) {
                        width: 55px;
                        height: 55px;
                    }
                }
                &:hover .icon {
                    width: 30px;
                    height: 30px;
                }
                &:hover .icon .head {
                    fill: $greyColor;
                }
                &:hover .top-left-dot {
                    left: 15px;
                    top: 15px;
                }
                &:hover .left-dot {
                    left: 0;
                    top: -webkit-calc(50% - 35px);
                    top: -moz-calc(50% - 35px);
                    top: calc(50% - 35px);
                    @media(min-width: 768px) {
                        top: -webkit-calc(50% - 55px);
                        top: -moz-calc(50% - 55px);
                        top: calc(50% - 55px);
                    }
                }
                &:hover .bottom-left-dot {
                    left: 15px;
                    bottom: 15px;
                }
                &:hover .bottom-dot {
                    left:-webkit-calc(50% - 35px);
                    left:-moz-calc(50% - 35px);
                    left:calc(50% - 35px);
                    @media(min-width: 768px) {
                        left:-webkit-calc(50% - 55px);
                        left:-moz-calc(50% - 55px);
                        left:calc(50% - 55px);
                    }
                    bottom: 0;
                }
                &:hover .bottom-right-dot {
                    right: 15px;
                    bottom: 15px;
                }
                &:hover .right-dot {
                    right: 0;
                    top: -webkit-calc(50% - 35px);
                    top: -moz-calc(50% - 35px);
                    top: calc(50% - 35px);
                    @media(min-width: 768px) {
                        top: -webkit-calc(50% - 55px);
                        top: -moz-calc(50% - 55px);
                        top: calc(50% - 55px);
                    }
                }
                &:hover .top-right-dot {
                    right: 15px;
                    top: 15px;
                }
                &:hover .top-dot {
                    top: 0;
                    left:-webkit-calc(50% - 35px);
                    left:-moz-calc(50% - 35px);
                    left:calc(50% - 35px);
                    @media(min-width: 768px) {
                        left:-webkit-calc(50% - 55px);
                        left:-moz-calc(50% - 55px);
                        left:calc(50% - 55px);
                    }
                }
            }
        }
        .portfolio {
            .projects-wrapper {
                margin: 0 auto;
                @media(min-width: 1024px) {
                    width: 100%;
                    height:300px;
                    overflow:auto;
                }
                .projects {
                    list-style-type: none;
                    padding: 0;
                    padding: 10px;
                    @media(min-width: 1024px) {
                        float:left;
                        margin-right:-50em;
                        white-space:nowrap;
                    }
                    .single-project {
                        width: 95%;
                        height: 200px;
                        @include flexbox(row, nowrap);
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 10px 1px $greyColor;
                        margin: 5px auto;
                        position: relative;
                        @media(min-width: 425px) {
                            height: 250px;
                            width: 400px;
                        }
                        @media(min-width: 1024px) {
                            float: left;
                            margin: 0 10px;
                        }
                        img {
                            max-width: 95%;
                            max-height: 80%;
                        }
                        &:hover {
                            .show {
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        .show {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(26, 188, 156, .8);
                            @include flexbox(row, nowrap);
                            justify-content: center;
                            align-items: center;
                            visibility: hidden;
                            opacity: 0;
                            @include transition(.3s, ease-in-out);
                            svg {
                                fill: $whiteColor;
                                margin: 0 30px;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                                &:hover {
                                    fill: $darkBlueColor;
                                    width: 50px;
                                    height: 50px;
                                    margin: 0 20px;
                                }
                            }
                        }
                    }
                }
            }
            .project-info {
                display: none;
                visibility: hidden;
                background: rgba(0, 0, 0, .8);
                position: fixed;
                z-index: 99999999;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                @include flexbox(column, nowrap);
                justify-content: flex-start;
                align-items: center;
                @include transition(.3s, ease-in-out);
                .close-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 15px;
                    cursor: pointer;
                    &:hover {
                        .bar {
                            background-color: $whiteColor;
                        }
                    }
                    .bar {
                        width: 20px;
                        height: 5px;
                        background-color: #f0f0f0;
                    }
                    .first-bar {
                        transform: translateY(5px) rotate(45deg);
                        -ms-transform: translateY(5px) rotate(45deg);
                        -webkit-transform: translateY(5px) rotate(45deg);
                        -o-transform: translateY(5px) rotate(45deg);
                        -moz-transform: translateY(5px) rotate(45deg);
                    }
                    .second-bar {
                        transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                    }
                }
                .project-slider {
                    width: 100%;
                    height: 200px;
                    overflow: auto;
                    ul {
                        overflow: auto;
                        padding: 0;
                        max-width: 300%;
                        height: 100%;
                        overflow: scroll;
                        li {
                            float: left;
                            max-width: 100%;
                            @include flexbox(row, nowrap);
                            justify-content: center;
                            align-content: center;
                            height: 100%;
                            img {
                                margin: 0 auto;
                            }
                        }
                    }
                }
                h4,
                p {
                    color: $whiteColor;
                    text-align: center;
                }
                h4 {
                    font-size: 3rem;
                    font-weight: 200;
                    margin: 20px 0 0 0;
                }
                p {
                    font-size: 1.4rem;
                    margin: 20px 30px;
                }
            }
        }
        .hobby {
            margin-top: 50px;
            background: url(../img/hobby.jpg) no-repeat;
            background-size: cover;
            height: 250px;
            width: 100%;
            @media(min-width: 425px) {
                background-position: 100%;
            }
            @media(min-width: 1024px) {
                height: 350px;
            }
            .color-cover {
                width: 100%;
                height: 100%;
                background-color: rgba(130, 182, 234, .5);
                @include flexbox(column, nowrap);
                align-items: center;
                justify-content: center;
                h2 {
                    color: $whiteColor;
                    font-size: 3rem;
                    margin: 10px 20px !important;
                }
                a {
                    text-decoration: none;
                    color: $whiteColor;
                    padding: 7px 12px;
                    border-radius: 15px;
                    background-color: $turquoiseColor;
                    margin-top: 10px;
                    border: 1px solid $turquoiseColor;
                    font-size: 1.3rem;
                    &:hover {
                        color: $turquoiseColor;
                        background-color: transparent;
                    }
                }
            }
        }
        .contact {
            svg {
                width: 32px;
                height: 100%;
                padding: 5px 10px;
                fill: $whiteColor;
                background-color: $darkBlueColor;
            }
            input {
                height: 100%;
                width: 100%;
                border-bottom-left-radius: 20px !important;
                border-top-left-radius: 20px !important;
            }
            input,
            textarea {
                //width: 100%;
                border: 0;
                padding: 5px;
                margin: 0 auto;
                border-radius: 0;
                border: none;
                &:focus {
                    outline-color: $orangeColor;
                }
            }
            .contact-form {
                margin: 20px 0;
            }
            .input {
                @include flexbox(row, nowrap);
                align-items: center;
                height: 32px;
                //margin-bottom: 20px;
            }
            textarea {
                resize: none;
                height: 150px;
                width: 100%;
                border-top-right-radius: 2px !important;
                border-top-left-radius: 2px !important;
                @include boxSizingBorderBox();
            }
            .message {
                margin-bottom: 0;
            }
            button {
                width: 100%;
                height: 32px;
                background: none;
                border-radius: 0;
                border: none;
                background-color: $darkBlueColor;
                border-radius: 2px;
                margin-bottom: 10px;
                padding: 5px 0;
                svg {
                    height: 100%;
                    height: 100%;
                    padding: 0px;
                }
            }
        }
    }
    .skill-info {
        background: rgba(0, 0, 0, .8);
        position: fixed;
        z-index: 99999999;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include flexbox(column, nowrap);
        justify-content: flex-start;
        @include transition(.3s, ease-in-out);
        visibility: hidden;
        opacity: 0;
        &.show {
            visibility: visible;
            opacity: 1;
        }
        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            cursor: pointer;
            &:hover {
                .bar {
                    background-color: $whiteColor;
                }
            }
            .bar {
                width: 20px;
                height: 5px;
                background-color: #f0f0f0;
            }
            .first-bar {
                transform: translateY(5px) rotate(45deg);
                -ms-transform: translateY(5px) rotate(45deg);
                -webkit-transform: translateY(5px) rotate(45deg);
                -o-transform: translateY(5px) rotate(45deg);
                -moz-transform: translateY(5px) rotate(45deg);
            }
            .second-bar {
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
            }
        }
        .img-container {
            height: 35%;
            margin: 100px auto 0 auto;
            @include flexbox(row, nowrap);
            justify-content: center;
            img {
                height: 100%;
                margin: 0 auto;
            }
        }
        h4,
        p {
            color: $whiteColor;
            text-align: center;
        }
        h4 {
            font-size: 3rem;
            font-weight: 200;
            margin: 20px 0 0 0;
        }
        p {
            font-size: 1.4rem;
            margin: 20px 30px;
        }
    }
    footer {
        @include flexbox(row, nowrap);
        justify-content: space-between;
        align-items: center;
        background-color: $lightBlueColor;
        @include boxSizingBorderBox();
        padding: 0 10px;
        color: $whiteColor;
        .social {
            list-style-type: none;
            padding: 0;
            .facebook-icon {
                &:hover {
                    svg {
                        fill: #4c66a4;
                        background-color: $whiteColor;
                        border-radius: 3px;
                    }
                }
            }
            .github-icon {
                &:hover {
                    svg {
                        fill: #6a006c;
                        background-color: $whiteColor;
                        border-radius: 100%;
                    }
                }
            }
            li {
                display: inline;
                margin-left: 5px;
                cursor: pointer;
                svg {
                    fill: $whiteColor;
                    width: 24px;
                    height: 24px;

                }
            }
        }
        p {
            font-size: 1.1rem;
        }
    }
}